h1 {
font-family: 'CustomFont', Aesthetik Script;
font-weight:normal;
font-style:normal;
}

.background{
	background-image: url(../Images/bg1.jpg);
	background-size: 50%;
}

.div-design{
	background-color: #A8ff3E;
	border: 2px solid #0AD48B;
	border-radius: 20px;
	padding: 1px;
	margin: 10px auto;
	width: 40%;
}

#custom-form table{
	padding: 3px;
	width: 50%;
}

.bar{
  background-color: #2EAF7D;
  position: sticky;
  top: 5px;
  padding: 2px;
}
